body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.huge {
  margin-left: 40px;
}
/* -- Header ------------------------------------------- */

.header {
  top: 0;
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding: 10px;
  align-items: flex-start;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  align-items: flex-end;
  margin: 15px;
}

.seashell {
  color: seashell;
}


/* -- Our Mission Section ---------------------------------------*/

.container {
  display: flex;
  position: relative;
  top: 60px;
  width: 1200px;
  height: 700px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg')
}

.container1 {
  background-color: black;
  width: 1200px;
  height: 150px;
  align-content: center;
  margin: auto;
  text-align: center;
}

/*-- Tea of the Month Section ------------------------- */

.teamonth {
  background-color: black;
  width: 1200px;
  height: 150px;
  align-content: center;
  margin: auto;
  text-align: center;
  position: static;
  margin-top: 125px;
}

.container2,.container4 {
  position: static;
  background-color: black;
  max-height: 250px;
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box1,.box2,.box3,.box4,.box5 {
  display: flex;
  height: 200px;
  width: 300px;
}

.box1 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg');
  background-size: 300px 200px;
}

.box2 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg');
  background-size: 300px 200px;
}

.box3 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg');
  background-size: 300px 200px;
}

.box4 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg');
  background-size: 300px 200px;
}

.box5 {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg');
  background-size: 300px 200px;
}

.container3,.container5 {
  position: static;
  background-color: black;
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ----- Locations Section ------------------------------------- */

.container6 {
  margin-top: 50px;
  height: 500px;
  width: 1200px;
  display: flex;
  position: relative;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg')
}

.container7 {
  position: absolute;
  margin: 50px 0px 50px 520px;
}

.location {
  width: 300px;
  background-color: black;
  height: 250px;
  align-content: center;
  margin: auto;
  text-align: center;
}

/* ------- footer section --------------- */

.email {
  height: 200px;
  width: 1200px;
  align-content: center;
  margin: auto;
  text-align: center;
}

.footer {
  margin-left: 20px;
}
